
<div class="blog-post">
  <h2 class="blog-post-title"><%= notice.title %></h2>
  <p class="blog-post-meta"><%= notice.updated_at %> by
    <a href="#"><!--%= (User.find notice.author).name %--></a></p>
  <%= notice.content %>
</div>
