// Place all the styles related to the notices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-body{
  min-height: 525px;
  width: 100%;
  margin-top: 50px;
}